:root {
  --primary-color: rgb(57, 39, 39);
}
body,
html {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  background-color: rgb(57, 39, 39);
  color: blanchedalmond;
}
body > div {
  display: flex;
  text-align: center;
  margin: 20px;
  justify-content: space-evenly;
  gap: 10px;
}
.button {
  font-size: 2.8rem;
  background-color: var(--primary-color);
  border: none;
  box-shadow: 0px 0px 20px -5px blanchedalmond;
  border-radius: 12px;
  padding: 10px;
}
.button:hover {
  box-shadow: 0px 0px 50px -5px blanchedalmond;
}
.button:active {
  box-shadow: inset 0px 0px 20px -5px blanchedalmond;
}
.finals,
.scoreboard {
  text-align: center;
  align-items: center;
  font-size: 2.2rem;
}
#humanchoice,
#computerchoice {
  display: flex;
  align-items: center;
  width: 50px;
  font-size: 2rem;
}
#select {
  width: 100px;
  font-size: 1.4rem;
  height: 50px;
  background-color: var(--primary-color);
  color: blanchedalmond;
}

/* Set option background to --primary-color */
#select option {
  background-color: var(--primary-color);
  color: blanchedalmond;
}
#reset {
  color: blanchedalmond;
}
