.root {
  color: rgb(34, 25, 25);
  color: blanchedalmond;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  line-height: 1.5;
}

html,
body {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(34, 25, 25);
  color: blanchedalmond;
  align-items: center;
  justify-content: center;
}
